@font-face {
    font-family: monospace821;
    src: url(fonts/Monospace\ 821\ Regular.otf);
  }

body {
    font-family: monospace821;
    background-color: #2a632c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.content {
    text-transform: uppercase;
    position: relative;

}


.title {
font-size: 21px;
margin: 0;
padding: 0;
border: 1px black;

color: #ff00ff;
z-index: 20;
/* height: 60px; */
/* width: 100vw; */
position: relative;

}

#iframe1 {
    z-index: 0;

}

#loadingbox {
    position: fixed;
    top: 81;
    width: 960px;
    height: 542px;
    z-index: 999999;
    background-color: #ff00ff;
}

.screen {
    padding-bottom: 90px;
}

textarea {
  width: 400px;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ff00ff;
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
    background-color: #ff00ff;
    font-family: monospace821;
    border: 1px solid #b3fdfc;
    border-radius: 10px;
    padding: 5px 10px;
}

.banner {
    width: 960px;
    margin-bottom: 10px;
    padding: 0;
    
    font-size: 21px;
    transform:scale(1,1.1); 
    -webkit-transform:scale(1,1.1); 
    color: #683b11;
    background-color: #ff00ff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em; 
    line-height: 92%;
    padding: 3px 0 3px 0;
    
}

img {
    width: 100%;
}
/* .banners {
    position: fixed;
    bottom: 10px;
} */


.sticker {
    width: 50px;
}

hr {
    border-top: 1px solid #275927;
    border-bottom: none;
}

.comment {
    /* font-size: .7em; */
    color: #3d210a;
  
    position: relative;
    right: 0;
}

#comment_container {
    text-align: right;
    position: absolute;
    top: 10;
    right: 10;
    width: 200px;
    z-index: 99;
}

.time {
    margin-bottom: 15px;
}